[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ase = "*"
numpy = "*"
torch = "*"
fastapi = "*"
lightning = "*"
torch-geometric = "*"

[dev-packages]
jupyterlab = "*"
black = {extras = ["jupyter"], version = "*"}
lightning = {extras = ["extra"], version = "*"}

[requires]
python_version = "3.10"
